<launch>

  <!-- Launch stdr simulator with gui -->
  <include file="$(find stdr_launchers)/launch/server_with_map_and_gui_plus_robot.launch"/>

  <!-- Start the PoseStamped_to_TF and simple_steering nodes -->
  <node pkg="snowmower_steering" type="PoseStamped_to_TF" name="PoseStamped_to_TF" output="screen"/>
  <node pkg="snowmower_steering" type="simple_steering" name="simple_steering" ouput="screen"/>

</launch>