<launch>

  <!-- Launch stdr simulator with gui -->
  <include file="$(find stdr_launchers)/launch/server_with_map_and_gui_plus_robot.launch"/>

  <!-- Run the costmap node -->
  <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" >
    <rosparam file="$(find snowmower_steering)/launch/costmap_2d_params.yaml" command="load" ns="costmap" />
  </node>

  <!-- Start the PoseStamped_to_TF and simple_steering nodes -->
  <node pkg="snowmower_steering" type="PoseStamped_to_TF" name="PoseStamped_to_TF" output="screen"/>
  <node pkg="snowmower_steering" type="simple_steering" name="simple_steering" ouput="screen"/>

</launch>