<launch>

  <!-- Launch stdr simulator with gui -->
  <include file="$(find stdr_launchers)/launch/server_with_map_and_gui_plus_robot.launch"/>

  <!-- Run slam-gmapping node with parameter changes -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="base_frame" value="robot0" type="string"/>
    <remap from="map" to="gmap"/>
    <remap from="scan" to="/robot0/laser_0"/>
  </node>

</launch>